{% extends 'base.html' %}
{% block titulo %}Avaliações{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/avaliacoes.css') }}">
{% endblock css %}

{% block conteudo %}

<div class="container mt-4">
    <h2 class="mb-4" id="titulo-avaliacoes">Avaliações</h2>

    <div id="avaliacao-usuario-container"></div>
    <div id="lista-avaliacoes"></div>

    <button id="btn-voltar" class="btn btn-secondary mt-3">Voltar</button>
</div>

{% endblock conteudo %}

{% block js %}
<script type="module" src="{{ url_for('static', filename='js/avaliacao/listar.js') }}"></script>
{% endblock js %}