{% extends 'base.html' %}
{% block titulo %}Redefinir Senha - HiddenTreasures{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock css %}

{% block conteudo %}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow p-4">

            <h3 class="text-center mb-3">Redefinir Senha</h3>

            <form id="form-redefinir-senha" data-token="{{ token }}">

                <div class="mb-3">
                    <label>Nova senha <span class="text-danger">*</span></label>

                    <div class="input-group">
                        <input name="senha" type="password" class="form-control" id="reset_senha">

                        <span class="input-group-text toggle-password" data-target="reset_senha"
                            style="cursor:pointer;">
                            <img id="eye-reset_senha" width="20">
                        </span>
                    </div>
                </div>

                <div class="mb-3">
                    <label>Confirmar senha <span class="text-danger">*</span></label>

                    <div class="input-group">
                        <input name="confirmar_senha" type="password" class="form-control" id="reset_confirmar_senha">

                        <span class="input-group-text toggle-password" data-target="reset_confirmar_senha"
                            style="cursor:pointer;">
                            <img id="eye-reset_confirmar_senha" width="20">
                        </span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    Alterar senha
                </button>

            </form>

        </div>
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='js/usuario/redefinir_senha.js') }}"></script>

{% endblock conteudo %}