{% extends 'base.html' %}
{% block titulo %}Página inicial - HiddenTreasures{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock css %}

{% block conteudo %}

<div class="text-center mb-5">
    <h1 class="fw-bold">Explore o Mundo</h1>
    <p class="text-muted">Os melhores destinos para sua próxima aventura</p>
</div>

{% if top_pontos %}
<div class="secao-titulo text-center">
    <h3>Pontos Melhores Avaliados</h3>
</div>

<div class="row mb-5">
    {% for ponto in top_pontos %}
    <div class="col-md-4 mb-4 d-flex">
        <div class="card shadow-sm card-hover card-ponto w-100 position-relative">

            <div
                class="ranking-number 
                {% if loop.index == 1 %}gold{% elif loop.index == 2 %}silver{% elif loop.index == 3 %}bronze{% else %}blue{% endif %}">
                {{ loop.index }}
            </div>

            {% if ponto.promocao %}
            <div class="badge-desconto-direita">-{{ ponto.promocao.desconto|int }}%</div>
            {% endif %}

            <img src="{{ url_for('static', filename=ponto.url_imagem) }}" class="card-img-top rounded-top ponto-img"
                style="height: 300px; object-fit: cover;">

            <div class="card-body">
                <div>
                    <h5>{{ ponto.nome }}</h5>
                    <p class="text-muted localizacao">{{ ponto.localizacao }}</p>
                    <p class="text-muted">{{ ponto.categoria.nome }}</p>

                    {% if ponto.media_avaliacao is not none %}
                    <p class="text-warning">⭐ {{ "%.1f"|format(ponto.media_avaliacao) }}</p>
                    {% else %}
                    <p class="text-warning">⭐ Nenhuma avaliação</p>
                    {% endif %}

                    <p class="preco">
                        {% if ponto.custo_entrada %}
                        {% if ponto.promocao %}
                        <span class="preco-antigo">R$ {{ "%.2f"|format(ponto.custo_entrada) }}</span>
                        <span class="preco-promocao">R$ {{ "%.2f"|format(ponto.custo_entrada * (1 -
                            ponto.promocao.desconto / 100)) }}</span>
                        {% else %}
                        R$ {{ "%.2f"|format(ponto.custo_entrada) }}
                        {% endif %}
                        {% else %}
                        <span class="preco-promocao">Gratuito</span>
                        {% endif %}
                    </p>

                </div>
                <a href="{{ url_for('pontos.detalhes_ponto', id=ponto.id) }}" class="btn btn-primary w-100 mt-2">Ver
                    detalhes</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if pontos_promocao %}
<div class="secao-titulo text-center">
    <h3>Pontos em Promoção</h3>
</div>

<div class="row">
    {% for ponto in pontos_promocao %}
    <div class="col-md-4 mb-4 d-flex">
        <div class="card shadow-sm card-hover card-ponto w-100 position-relative">

            {% if ponto.promocao %}
            <div class="badge-desconto">-{{ ponto.promocao.desconto|int }}%</div>
            {% endif %}

            <img src="{{ url_for('static', filename=ponto.url_imagem) }}" class="card-img-top rounded-top ponto-img"
                style="height: 300px; object-fit: cover;">

            <div class="card-body">
                <div>
                    <h5>{{ ponto.nome }}</h5>
                    <p class="text-muted localizacao">{{ ponto.localizacao }}</p>
                    <p class="text-muted">{{ ponto.categoria.nome }}</p>

                    {% if ponto.media_avaliacao is not none %}
                    <p class="text-warning">⭐ {{ "%.1f"|format(ponto.media_avaliacao) }}</p>
                    {% else %}
                    <p class="text-warning">⭐ Nenhuma avaliação</p>
                    {% endif %}

                    <p class="preco">
                        {% if ponto.custo_entrada %}
                        <span class="preco-antigo">R$ {{ "%.2f"|format(ponto.custo_entrada) }}</span>
                        <span class="preco-promocao">R$ {{ "%.2f"|format(ponto.custo_entrada * (1 -
                            ponto.promocao.desconto / 100)) }}</span>
                        {% else %}
                        <span class="preco-promocao">Gratuito</span>
                        {% endif %}
                    </p>

                </div>
                <a href="{{ url_for('pontos.detalhes_ponto', id=ponto.id) }}" class="btn btn-primary w-100 mt-2">Ver
                    detalhes</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock conteudo %}