{% extends 'base.html' %}
{% block titulo %}Gerenciar Tipos Culturais - HiddenTreasures{% endblock titulo %}

{% block conteudo %}

<div class="container mt-4">
    <div class="text-center mb-5">
        <h1 class="fw-bold">Gerenciar Tipos Culturais</h1>
    </div>

    <div class="card p-3 mb-4 shadow">
        <form id="form-tipo-cultural">

            <div class="mb-3">
                <label for="nome" class="form-label">
                    Nome do Tipo Cultural <span class="text-danger">*</span>
                </label>
                <input type="text" id="nome" name="nome" class="form-control"
                    placeholder="Digite o nome do tipo cultural" required>
            </div>

            <button class="btn btn-primary w-100">
                Adicionar
            </button>

        </form>
    </div>

    <div id="lista-tipo-cultural" class="card p-4 shadow">

    </div>
</div>

{% endblock conteudo %}

{% block js %}
<script type="module" src="{{ url_for('static', filename='js/tipo_cultural/cadastrar.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/tipo_cultural/listar.js') }}"></script>
{% endblock js %}