{% extends 'base.html' %}
{% block titulo %}Detalhes do Ponto{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/detalhes_ponto.css') }}">
{% endblock css %}

{% block conteudo %}

<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="position-relative" id="imagem-container"></div>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center" id="info-ponto"></div>
    </div>

    <div id="secao-avaliar"></div>
    <div id="secao-avaliacoes-preview"></div>
</div>

{% endblock conteudo %}

{% block js %}
<script type="module" src="{{ url_for('static', filename='js/ponto_turistico/detalhes_ponto.js') }}"></script>
{% endblock js %}