{% extends 'base.html' %}
{% block titulo %}Página inicial - HiddenTreasures{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock css %}

{% block conteudo %}

<div class="text-center mb-5">
    <h1 class="fw-bold">Explore o Mundo</h1>
    <p class="text-muted">Os melhores destinos para sua próxima aventura</p>
</div>

<div id="secao-top-pontos"></div>
<div id="secao-pontos-promocao"></div>

{% endblock conteudo %}

{% block js %}
<script type="module" src="{{ url_for('static', filename='js/ponto_turistico/index.js') }}"></script>
{% endblock js %}