{% extends 'base.html' %}
{% block titulo %}Página inicial - HiddenTreasures{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock css %}

{% block conteudo %}

<div class="text-center mb-5">
    <h1 class="fw-bold">Explore o Mundo</h1>
    <p class="text-muted">Os melhores destinos para sua próxima aventura</p>
</div>

{% if top_pontos %}
<div class="secao-titulo text-center">
    <h3>Pontos Melhores Avaliados</h3>
</div>

<div class="row mb-5">
    {% for ponto in top_pontos %}
    <div class="col-md-4 mb-4 d-flex">
        <div class="card shadow-sm card-hover card-ponto w-100 position-relative">

            {% if session.get('usuario') %}
            <form method="POST" action="{{ url_for('user.alterar_favorito') }}"
                class="position-absolute bottom-50 start-0 m-2">

                <input type="hidden" name="ponto_id" value="{{ ponto.id }}">

                <button type="submit"
                    class="btn btn-light rounded-circle shadow-sm d-flex align-items-center justify-content-center"
                    style="width: 45px; height: 45px;">

                    {% if ponto.id in favoritos_ids %}
                    <span style="color: red; font-size: 20px;">❤️</span>
                    {% else %}
                    <span style="color: gray; font-size: 20px;">🤍</span>
                    {% endif %}

                </button>
            </form>
            {% endif %}

            <div
                class="ranking-number 
                {% if loop.index == 1 %}gold{% elif loop.index == 2 %}silver{% elif loop.index == 3 %}bronze{% else %}blue{% endif %}">
                {{ loop.index }}
            </div>

            {% if ponto.promocao %}
            <div class="badge-desconto-direita">-{{ ponto.promocao.desconto|int }}%</div>
            {% endif %}

            <div class="position-relative">

                <img src="{{ url_for('static', filename=ponto.url_imagem) }}" class="card-img-top rounded-top ponto-img"
                    style="height: 300px; object-fit: cover;">

                <div
                    class="ranking-number 
        {% if loop.index == 1 %}gold{% elif loop.index == 2 %}silver{% elif loop.index == 3 %}bronze{% else %}blue{% endif %}">
                    {{ loop.index }}
                </div>

                {% if ponto.destaques %}
                <div class="position-absolute bottom-0 start-0 w-100 p-2 d-flex flex-wrap gap-1"
                    style="background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);">

                    {% for d in ponto.destaques %}
                    <span class="badge bg-dark bg-opacity-75 text-white">
                        #{{ d.nome }}
                    </span>
                    {% endfor %}

                </div>
                {% endif %}

            </div>

            <div class="card-body">
                <div>
                    <h5>{{ ponto.nome }}</h5>
                    <p class="text-muted">Ponto {{ ponto.tipo_ponto() }}</p>
                    <p class="text-muted localizacao">{{ ponto.localizacao }}</p>
                    <p class="text-muted">{{ ponto.categoria.nome }}</p>

                    {% if ponto.media_avaliacao is not none %}
                    <p class="text-warning">⭐ {{ "%.1f"|format(ponto.media_avaliacao) }}</p>
                    {% else %}
                    <p class="text-warning">⭐ Nenhuma avaliação</p>
                    {% endif %}

                    <div class="d-flex justify-content-between align-items-center">

                        <p class="preco mb-0">
                            {% if ponto.custo_entrada %}
                            {% if ponto.promocao %}
                            <span class="preco-antigo">
                                R$ {{ "%.2f"|format(ponto.custo_entrada) }}
                            </span>
                            <span class="preco-promocao">
                                R$ {{ "%.2f"|format(ponto.custo_entrada * (1 - ponto.promocao.desconto / 100)) }}
                            </span>
                            {% else %}
                            R$ {{ "%.2f"|format(ponto.custo_entrada) }}
                            {% endif %}
                            {% else %}
                            <span class="preco-promocao">Gratuito</span>
                            {% endif %}
                        </p>

                        {% if session.get('usuario') %}
                        <form method="POST" action="{{ url_for('user.alterar_favorito') }}">
                            <input type="hidden" name="ponto_id" value="{{ ponto.id }}">

                            <button type="submit"
                                class="btn btn-light rounded-circle shadow-sm d-flex align-items-center justify-content-center"
                                style="width:40px;height:40px;">

                                {% if ponto.id in favoritos_ids %}
                                <span style="color:red;font-size:20px;">❤️</span>
                                {% else %}
                                <span style="color:gray;font-size:20px;">🤍</span>
                                {% endif %}

                            </button>
                        </form>
                        {% endif %}

                    </div>

                </div>
                <a href="{{ url_for('pontos.detalhes_ponto', id=ponto.id) }}" class="btn btn-primary w-100 mt-2">Ver
                    detalhes</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if pontos_promocao %}
<div class="secao-titulo text-center">
    <h3>Pontos em Promoção</h3>
</div>

<div class="row">
    {% for ponto in pontos_promocao %}
    <div class="col-md-4 mb-4 d-flex">
        <div class="card shadow-sm card-hover card-ponto w-100 position-relative">

            <div class="position-relative">

                <img src="{{ url_for('static', filename=ponto.url_imagem) }}" class="card-img-top rounded-top ponto-img"
                    style="height: 300px; object-fit: cover;">

                {% if ponto.destaques %}
                <div class="position-absolute bottom-0 start-0 w-100 p-2 d-flex flex-wrap gap-1"
                    style="background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);">

                    {% for d in ponto.destaques %}
                    <span class="badge bg-dark bg-opacity-75 text-white">
                        #{{ d.nome }}
                    </span>
                    {% endfor %}

                </div>
                {% endif %}

                {% if ponto.promocao %}
                <div class="badge-desconto">-{{ ponto.promocao.desconto|int }}%</div>
                {% endif %}

            </div>

            <div class="card-body">
                <div>
                    <h5>{{ ponto.nome }}</h5>
                    <p class="text-muted localizacao">{{ ponto.localizacao }}</p>
                    <p class="text-muted">{{ ponto.categoria.nome }}</p>

                    {% if ponto.media_avaliacao is not none %}
                    <p class="text-warning">⭐ {{ "%.1f"|format(ponto.media_avaliacao) }}</p>
                    {% else %}
                    <p class="text-warning">⭐ Nenhuma avaliação</p>
                    {% endif %}

                    <div class="d-flex justify-content-between align-items-center">

                        <p class="preco mb-0">
                            {% if ponto.custo_entrada %}
                            {% if ponto.promocao %}
                            <span class="preco-antigo">
                                R$ {{ "%.2f"|format(ponto.custo_entrada) }}
                            </span>
                            <span class="preco-promocao">
                                R$ {{ "%.2f"|format(ponto.custo_entrada * (1 - ponto.promocao.desconto / 100)) }}
                            </span>
                            {% else %}
                            R$ {{ "%.2f"|format(ponto.custo_entrada) }}
                            {% endif %}
                            {% else %}
                            <span class="preco-promocao">Gratuito</span>
                            {% endif %}
                        </p>

                        {% if session.get('usuario') %}
                        <form method="POST" action="{{ url_for('user.alterar_favorito') }}">
                            <input type="hidden" name="ponto_id" value="{{ ponto.id }}">

                            <button type="submit"
                                class="btn btn-light rounded-circle shadow-sm d-flex align-items-center justify-content-center"
                                style="width:40px;height:40px;">

                                {% if ponto.id in favoritos_ids %}
                                <span style="color:red;font-size:20px;">❤️</span>
                                {% else %}
                                <span style="color:gray;font-size:20px;">🤍</span>
                                {% endif %}

                            </button>
                        </form>
                        {% endif %}

                    </div>

                </div>
                <a href="{{ url_for('pontos.detalhes_ponto', id=ponto.id) }}" class="btn btn-primary w-100 mt-2">Ver
                    detalhes</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock conteudo %}