{% extends 'base.html' %}
{% block titulo %}Pontos Turísticos - HiddenTreasures{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pontos.css') }}">
{% endblock css %}

{% block conteudo %}

<div class="container mt-4">

    <div class="text-center mb-5">
        <h1 class="fw-bold">Todos os Pontos Turísticos</h1>
    </div>

    <div id="lista-pontos-aprovados" class="row"></div>

</div>

{% endblock conteudo %}

{% block js %}
<script type="module" src="{{ url_for('static', filename='js/ponto_turistico/pontos.js') }}"></script>
{% endblock js %}